.home {
  display: flex;
  max-width: 1300px;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  z-index: 1;
}

.feed {
  min-width: 40vw;
}

.widgets {
  min-width: 30vw;
}
