.sidebar {
  border-right: 1px solid var(--bestListen-background);
  flex: 0.3;
  /* min-width: 250px; */
  margin-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
  height: 80vh;
}

.sidebar__bestListenIcon {
  color: var(--bestListen-color);
  font-size: 30px !important;
  margin-left: 20px;
  margin-bottom: 20px;
}

.bestButton {
  background-color: var(--bestListen-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
}

.bestButton:hover {
  background-color: var(--bestListen-color-light) !important;
  color: var(--bestListen-color) !important;
}

.bestButtonLight {
  background-color: var(--bestListen-color-background) !important;
  border: none !important;
  color: var(--bestListen-color-light) !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
}

.bestButtonLight:hover {
  background-color: var(--bestListen-color) !important;
  color: white !important;
}
