.song {
    flex: 0.4;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    min-width: 35vw;
  }

  .song__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
  }
  
  .song__header > h2 {
    font-size: 20px;
    font-weight: 800;
  }

  .song_info {
    min-width: 40vw;
  }

  .widgets {
    min-width: 30vw;
  }
  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 5px;
  }
  .on {
    color: #000;
  }
  .off {
    color: #ccc;
  }
  .submit-button {
    background-color: var(--twitter-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  .submit-button:hover {
    background-color: #5c40ebbf;
  }