.widgets {
  flex: 0.3;
}

.widgets__input {
  display: flex;
  align-items: center;
  background-color: var(--twitter-background);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.widgets__input > input {
  border: none;
  background-color: var(--twitter-background);
}

.widgets__searchIcon {
  color: gray;
}

.widgets__widgetContainer {
  margin-top: 15px;
  margin-left: 20px;
  padding: 5px;
  background-color: var(--twitter-color);
  border-radius: 20px;
}

/* .widgets__widgetContainer > h2 {
  font-size: 18px;
  font-weight: 800;
  padding-left: 20px;
} */

.widget_container {
  height: 150px; /* Set the height of the container to the desired value */
  overflow-y: scroll; /* Enable vertical scrolling */
  background-color: var(--twitter-background);
  color: white;
  border-radius: 20px;
  margin-top: 10px;
}

.widget_container > h2 {
  font-size: 18px;
  font-weight: 800;
  margin-left: 5px;
  height: 30px;
  width: 100px;
  margin-top: 5px;
  background-color: var(--twitter-color);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.widget_container > ul {
  margin: 2px;
  padding: 2px;
  list-style: none;
}
  
.search-result-links {
  background-color: #5c40eb51;
  border-radius: 10px;
  font-weight: 300;
  color: black; /* set the color of the link text */
  display: inline-block;
  padding: 2px; /* add some padding around the link */
  text-decoration: none; /* remove the underline */
  margin-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

.search-result-links:hover {
  background-color: #5c40eb2d;
  border-radius: 10px;
  font-weight: 300;
  color: black; /* set the color of the link text */
  display: inline-block;
  padding: 2px; /* add some padding around the link */
  text-decoration: none; /* remove the underline */
  margin-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
}



